{% extends "base.html" %}

{% block head%}
<link rel="stylesheet" href="/assimilation/static/css/games.css" />
<script type="text/javascript" src="/assimilation/static/js/closure/closure/goog/base.js"></script>
<script type="text/javascript" src="/assimilation/static/js/bin/deps.js"></script>
<script>
</script>

<script type="text/javascript">
</script>
{% endblock %}


{% block content %}
{% endblock %}

{% block options %}
<div class='games-title'>
	Your Games
</div>
<div class='game-list'>
</div>	
{% endblock %}