{% extends "base.html" %}

{% block head%}
<link rel="stylesheet" href="/assimilation/static/css/games.css" />
<link rel="stylesheet" href="/assimilation/static/css/board.css" />
<script type="text/javascript" src="/assimilation/static/js/closure/closure/goog/base.js"></script>
<script type="text/javascript" src="/assimilation/static/js/bin/deps.js"></script>
<script>
    goog.require('assimilation.GameList');
</script>

<script type="text/javascript">
    $(document).ready(function() {
        gamelist = new assimilation.GameList({{user.id}})
    });
</script>
{% endblock %}


{% block content %}
<div class='game-board'>
    <div class='game-row'>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
    </div>
    <div class='game-row'>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
    </div>
    <div class='game-row'>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
    </div>
    <div class='game-row'>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
    </div>
    <div class='game-row'>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
    </div>
    <div class='game-row'>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
    </div>
    <div class='game-row'>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
    </div>
    <div class='game-row'>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
    </div>
    <div class='game-row'>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
    </div>
    <div class='game-row'>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
        <div class='game-cell'></div>
    </div>
</div>
<div class='numbers'>
	<table>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
    </tr>
</table>
</div>
<div class='letters'>
	<table>
	    <tr>
	        <td>A</td>
	    </tr>
	    <tr>
	        <td>B</td>
	    </tr>
	    <tr>
	        <td>C</td>
	    </tr>
	    <tr>
	        <td>D</td>
	    </tr>
	    <tr>
	        <td>E</td>
	    </tr>
	    <tr>
	        <td>F</td>
	    </tr>
	    <tr>
	        <td>G</td>
	    </tr>
	    <tr>
	        <td>H</td>
	    </tr>
	    <tr>
	        <td>I</td>
	    </tr>
	    <tr>
	        <td>J</td>
	    </tr>
	</table>
</div>
{% endblock %}

{% block options %}
<div class='games-title'>
	Your Games
</div>
<div class='game-list'>
	<div class='game-list-item selected'>
		<div class='game-item-left'>
			<div class='players'>
				<div class='players-title'>
					Players
				</div>
				<div class='player-list'>
					<ul>
						<li class='blue active'>Kevin</li>
						<li class='green'>John</li>
					</ul>
				</div>
				<div class='last-move'>
					Last Move: <span> 2 Days ago</span>
				</div>
			</div>
		</div>
		<div class='game-item-right'>
			<div class='status green'>
				Your Turn!
			</div>
			<div onclick="(function(){window.location.pathname='/assimilation/play/1';})()" class='action-button'>
				Play
			</div>
		</div>
	</div>
	<div class='game-list-item'>
		<div class='message'>
			Waiting for opponent to join.
            <div class='delete'>
                Delete Game
            </div>
		</div>
	</div>
</div>	
{% endblock %}