{% extends "base.html" %}

{% block head%}
<link rel="stylesheet" href="/assimilation/static/css/home.css" />
<script type="text/javascript" src="/assimilation/static/js/closure/closure/goog/base.js"></script>
<script type="text/javascript" src="/assimilation/static/js/bin/deps.js"></script>
<script>
	goog.require("assimilation.CreateGameDialog");
	goog.require("assimilation.AvailableGames")
</script>

<script type="text/javascript">
	$(document).ready(function() {
		createGameDialog = new assimilation.CreateGameDialog();
		availableGames = new assimilation.AvailableGames();
	});
</script>
{% endblock %}


{% block content %}
<div class='available-games-title'>
	Available Games
</div>
<div class='available-games-list'>
	{% for x in list %}
	<div class='available-game'>
		<div class='creator'>
			<div class='name'>
				{{x.name}}
			</div>
			<div class='color {{x.color}}'>
			</div>
		</div>
		<div class='game-info'>
			<table>
			    <tr>
			        <td class='info-name'>size</td>
			        <td class='info-name'>created</td>
			        <td class='info-name'>password?</td>
			    </tr>
			    <tr>
			        <td class='info-content'>10x10</td>
			        <td class='info-content'>Now</td>
			        <td class='info-content'>Yes</td>
			    </tr>
			</table>
		</div>
		<div class='join'>
			Join
		</div>
	</div>
	{%endfor%}
</div>
{% endblock %}

{% block options %}
<div class='game-create'>
</div>
{% endblock %}