{% extends "base.html" %}

{% block head%}
<link rel="stylesheet" href="/assimilation/static/css/home.css" />
<script type="text/javascript" src="/assimilation/static/js/closure/closure/goog/base.js"></script>
<script type="text/javascript" src="/assimilation/static/js/bin/deps.js"></script>
<script>
	goog.require("assimilation.CreateGameDialog");
	goog.require("assimilation.AvailableGames")
</script>

<script type="text/javascript">
	$(document).ready(function() {
		createGameDialog = new assimilation.CreateGameDialog();
		availableGames = new assimilation.AvailableGames();
	});
</script>
{% endblock %}


{% block content %}
<div class='available-games-title'>
	Available Games
</div>
<div class='available-games-list'>
	{% for x in list %}
	<div class='available-game'>
		<div class='creator'>
			<div class='name'>
				{{x.name}}
			</div>
			<div class='color {{x.color}}'>
			</div>
		</div>
		<div class='game-info'>
			<table>
			    <tr>
			        <td class='info-name'>size</td>
			        <td class='info-name'>created</td>
			        <td class='info-name'>password?</td>
			    </tr>
			    <tr>
			        <td class='info-content'>10x10</td>
			        <td class='info-content'>Now</td>
			        <td class='info-content'>Yes</td>
			    </tr>
			</table>
		</div>
		<div class='join'>
			Join
		</div>
	</div>
	{%endfor%}
</div>
{% endblock %}

{% block options %}
<div class='game-create'>
</div>
{% endblock %}

{% block extra %}
<div class="join-game">
	<div class="cancel"></div>
	<div class="title">Join John's Game!</div>
	<div class="pick">Pick Your Color:</div>
	<div class="join-color-pick">
		<form>
			<input type="radio" name="color" id="join-blue" value="blue" checked="checked">
			<label for="join-blue" class="color-choice blue"></label>
			<input type="radio" name="color" id="join-green" value="green">
			<label for="join-green" class="color-choice green"></label>
			<input type="radio" name="color" id="join-yellow" value="yellow">
			<label for="join-yellow-no" class="color-choice yellow off-limits"></label>
			<input type="radio" name="color" id="join-orange" value="orange">
			<label for="join-orange" class="color-choice orange"></label>
			<input type="radio" name="color" id="join-red" value="red">
			<label for="join-red" class="color-choice red"></label>
			<input type="radio" name="color" id="join-teal" value="teal">
			<label for="join-teal" class="color-choice teal"></label>
		</form>
	</div>
	<div class='enter-password'>
		<div class='pw-title'>Password:</div><input type='password'>
	</div>
	<div class="join-button pw">Join</div>
</div>
{% endblock %}
