{% extends "base.html" %}

{% block head%}
<link rel="stylesheet" href="/assimilation/static/css/play.css" />
<link rel="stylesheet" href="/assimilation/static/css/board.css" />
<script type="text/javascript" src="/assimilation/static/js/closure/closure/goog/base.js"></script>
<script type="text/javascript" src="/assimilation/static/js/bin/deps.js"></script>
<script>
    goog.require("assimilation.Play");
</script>

<script type="text/javascript">
    $(document).ready(function() {
        play = new assimilation.Play({{game.id}});
    });
</script>
{% endblock %}


{% block content %}
<div class='game-board'>
    {% for x in size%}
    <div class='game-row'>
        {%for y in size%}
        <div class='game-cell'></div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div class='numbers'>
	<table>
    <tr>
        {%for x in size%}
        <td>{{x}}</td>
        {%endfor%}
    </tr>
</table>
</div>
<div class='letters'>
	<table>
	    <tr>
	        <td>A</td>
	    </tr>
	    <tr>
	        <td>B</td>
	    </tr>
	    <tr>
	        <td>C</td>
	    </tr>
	    <tr>
	        <td>D</td>
	    </tr>
	    <tr>
	        <td>E</td>
	    </tr>
	    <tr>
	        <td>F</td>
	    </tr>
	    <tr>
	        <td>G</td>
	    </tr>
	    <tr>
	        <td>H</td>
	    </tr>
	    <tr>
	        <td>I</td>
	    </tr>
	    <tr>
            <td>J</td>
        </tr>
	</table>
</div>
{% endblock %}

{% block options %}
<div class='players'>
    <div class='player-title'>
        Players
    </div>
    <div class='player-content'>
        <div class='player'>
            <div class='name'>
                Kevin
            </div>
            <div class='player-piece blue active'>
                6
            </div>
        </div>
        <div class='player'>
            <div class='name'>
                John
            </div>
            <div class='player-piece green'>
                7
            </div>
        </div>
    </div>
</div>
<div class='history'>
    <div class='history-title'>
        History
    </div>
    <div class='history-list'>
        <div class='number'>1</div>
        <div class='move green'>??</div>
        <div class='number'>2</div>
        <div class='move blue'>??</div>
        <div class='number'>3</div>
        <div class='move green'>??</div>
        <div class='number'>4</div>
        <div class='move blue'>??</div>
        <div class='number'>5</div>
        <div class='move green'>??</div>
        <div class='number'>6</div>
        <div class='move blue'>??</div>
        <div class='number'>7</div>
        <div class='move green'>??</div>
        <div class='number'>8</div>
        <div class='move blue'>??</div>
        <div class='number'>9</div>
        <div class='move green'>??</div>
        <div class='number'>10</div>
        <div class='move blue'>??</div>
        <div class='number'>11</div>
        <div class='move green'>??</div>
        <div class='number'>12</div>
        <div class='move blue'>??</div>
        <div class='number'>13</div>
        <div class='move green'>??</div>
    </div>
</div>
<div class='chat'>
    <div class='chat-title'>
        Chat
    </div>
    <div class='messages'>
        <div class='name blue'>Kevin</div>
        <div class='message'>Nice Move!</div>
        <div class='name green'>John</div>
        <div class='message'>Thanks!</div>
        <div class='name blue'>Kevin</div>
        <div class='message'>Gotta go, I'll be back soon don't get lost without me and stuff i just want to see what happens with lots of text.</div>
        <div class='name green'>John</div>
        <div class='message'>Okay, sounds good!</div>
    </div>
    <div class='send'>
        <div class='text-input'>
            <input type='text'>
        </div>
        <div class='send-button'>
            Send
        </div>
    </div>
</div>
<div class='player-pieces'>
    <div class='pieces-title'>
        Your Pieces
    </div>
    <div class='more'>Exchange</div>
    <div class='pieces'>
        <div class='piece blue'>A9</div>
        <div class='piece blue'>C6</div>
        <div class='piece blue'>E9</div>
        <div class='piece blue'>F5</div>
        <div class='piece blue'>I7</div>
        <div class='piece blue'>J1</div>
    </div>
</div>
{% endblock %}