@import "_reset";
@import "_utils";
@import "_elements";

@game-frame-height: 550px;
@game-frame-width: 900px;
@accentColor: #00beef;
@menuHeight: 70px;

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	position: absolute;
	left:0;
	right:0;
	top:0;
	.gradientFrom(@bg-color);
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	min-width: 920px;
}

.menu{
	height: @menuHeight;
	background: @menu-color;
	position:absolute;
	top:0;
	left:0;
	right:0;
	min-width:920px;
	.drop-shadow(0px,5px,6px,.5);
	img {
		margin: 5px;
		height: @menuHeight - 10;
		width: @menuHeight - 10;
		display: inline-block;
		float:left;
	}

	.menu-title {
		font-size: 60px;
		display: block;
		float:left;
		margin-left: 20px;
		color:white;
		// line-height: @menuHeight;
		.noSelect;
	}

	ul {
		font-size: 30px;
		position: absolute;
		right: 2%;
		top:0;
		line-height: @menuHeight;
		li {
			margin-left: 20px;
			display:inline-block;
			a {
				&:hover{
					color:lightgray;
				}
				.noSelect;
				color:white;
				text-decoration: none;
			}
		}
	}
	.account-open{
		cursor:pointer;
	}
}

.account {
	display:none;
	position: absolute;
	z-index:1;
	right:100px;
	top:@menuHeight + 10;
	width: 250px;
	height:300px;
	.rounded(7px);
	.drop-shadow(0,0, 10px, 1);
	.bw-gradient(#F2F2F2, 210, 255);
	.account-name {
		text-align: center;
		color: black;
		margin-top:-2px;
		font-size: 25px;
		.rounded(7px);
		line-height: 45px;
		border: 2px solid black;
		height:45px;
		.account-close{
			position:absolute;
			top:5px;
			right:5px;
			width:35px;
			height:35px;
			background: rgba(0,0,0,0) url(../images/cancel.png);
			cursor:pointer;
		}
	}
	.account-stats{
		.rounded(7px);
		border: 2px solid black;
		margin-top:-2px;
		table{
			width:250px;

			.stats-title {
				text-align: center;
				color: black;
				font-size: 20px;
				font-weight:bold;
			}

			.stat-name {
				color:black;
				font-weight:bold;
				font-size:15px;
				line-height:35px;
				text-align:right;
			}

			.stat-value {
				width:90px;
				line-height:35px;
				font-size:25px;
				text-align:center;
				font-weight:bold;
			}
			.stat-total, .stat-percent, .stat-rank{
				color:black;
			}
			.stat-win{
				color:green;
			}
			.stat-loss{
				color:red;
			}
		}
	}

	button {
		margin:10px;
	}
	.account-buttons{
		height:50px;
		.rounded(7px);
		margin-top:-2px;
		border:solid 2px black;
		.account-update{
			.button(@blue-button);
			float:left;
			margin-right:0;
			line-height:27px;
			height:30px;
		}
		.account-signout{
			float:right;
			.button(@red-button);
			margin-left:0;
			font-size:20px;
			height:30px;
			line-height:27px;
		}
	}
}

.update-account{
	z-index:1;
	display:none;
	width:500px;
	height:400px;
	position:fixed;
	left:50%;
	margin-left:-200px;
	top:150px;
	.rounded(15px);
	.bw-gradient(#F2F2F2, 210, 255);
	.drop-shadow(0,4px,10px,.8);
	.title{
		text-align:center;
		font-size:30px;
		margin-top:10px;
	}
	.input{
		.name, .email, .password, .new-password, .repeat-password{
			height:45px;
			margin-top:10px;
			line-height:45px;
			font-size:25px;
			.label{
				text-align:right;
				width:250px;
				float:left;
			}
			input {
				border:1px solid lightgray;
				padding-left:5px;
				background:#ccc;
				.rounded(10px);
				height:30px;
				font-size:20px;
				width:200px;
				margin: 5px 20px 5px 5px;
				float:right;
				&:focus{
					outline:none;
					border:3px solid gray;
					height:24px;
					width:194px;
				}
			}
		}
		.cancel{
			.button(@red-button);
			line-height:40px;
			float:left;
			margin-left:75px;
			margin-top:15px;
			height:40px;
			width:150px;
			font-size:30px;
		}
		.save{
			.button(@blue-button);
			line-height:40px;
			float:left;
			margin-left:75px;
			margin-top:15px;
			height:40px;
			width:150px;
			font-size:30px;
		}
	}
}

.game-frame {
	margin-top: @menuHeight + 30;
	margin-left:auto;
	margin-right:auto;
	width: @game-frame-width;
	height: @game-frame-height;
	position:relative;
	.content {
		.drop-shadow(5px,5px,6px,.5);
		position: absolute;
		top:0;
		left:0;
		width: 550px;
		height: 550px;
		.gradient(@content-color, @content-color - #333, @content-color + #111);
		.rounded(10px);
	}

	.options {
		.drop-shadow(5px,5px,6px,.5);
		position:absolute;
		top:0;
		right:0;
		width:350px;
		height:550px;
		.bw-gradient(#F2F2F2, 210, 255);
		.rounded(10px);
	}
}