@import "_elements";
.options{
	.players{
		height:110px;
		background:palegoldenrod;
	}
	.history{
		height:160px;
		background:lightblue;
	}
	.chat{
		height:170px;
		background:palegoldenrod;
	}
	.player-pieces{
		height:110px;
		background:lightblue;
	}
}

.content{
	
}