<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <script type="text/javascript" src="/assimilation/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/assimilation/static/js/jquery-1.8.0.min.js"></script>
    <link rel="stylesheet" href="/assimilation/static/css/base.css" />
    <title>{% block title %}Assimilation{% endblock %}</title>

    {% if not compiled %}
    <script type="text/javascript" src="/assimilation/static/js/closure/closure/goog/base.js"></script>
    <script type="text/javascript" src="/assimilation/static/js/bin/deps.js"></script>
    <script>
        goog.require("assimilation.AccountDialog");
    </script>
    {% else %}
    <script type="text/javascript" src="/assimilation/static/js/bin/account.js"></script>
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function() {
             dialog = new assimilation.AccountDialog();
        });
    </script>

    <script>
      function getCookie(name)
      {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?

            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }

      $.ajaxSetup({ 
         beforeSend: function(xhr, settings) {
           if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
           }
         } 
      });
    </script>
    {% block head %}
    {% endblock %}
</head>

<body>

  <div class="menu">
    {% block menu %}
    <img src="/assimilation/static/images/assimilation.png">
    <a href="/"><h1 class="menu-title"> Assimilation </h1></a>
    <ul>
      <li><a href="/assimilation/home/">Home</a></li>
      <li><a href="/assimilation/games">My Games</a></li>
      <li><a class="account-open">My Account</a></li>
    </ul>
    {% endblock %}
  </div>

  <div class="account">
    {% block account %}
      {% if not login%}
        <div class="account-name">
          {{user.first_name}}
          <div class="account-close"></div>
        </div>
        <div class="account-stats">
          <table>
              <tr>
                  <td class="stats-title" colspan="2">Stats</td>
              </tr>
              <tr>
                  <td class="stat-name">Total Games Played:</td>
                  <td class="stat-value stat-total">{{user.completeGames}}</td>
              </tr>
              <tr>
                  <td class="stat-name">Wins:</td>
                  <td class="stat-value stat-win">{{user.totalWins}}</td>
              </tr>
              <tr>
                  <td class="stat-name">Losses:</td>
                  <td class="stat-value stat-loss">{{user.totalLosses}}</td>
              </tr>
              <tr>
                  <td class="stat-name">Percent Wins:</td>
                  <td class="stat-value stat-percent">{{user.winPercent}}%</td>
              </tr>
              <tr>
                  <td class="stat-name">Rank:</td>
                  <td class="stat-value stat-rank">{{user.rank}}</td>
              </tr>
          </table>
        </div>
        <div class="account-buttons">
          <button class="account-update">Update Account</button>
          <button class="account-signout">Sign Out</button>
        </div>
      {% else %}
      {% endif %}
    {% endblock %}
  </div>

  <div class='update-account'>
    <div class='title'>
      Update your Account
    </div>
    <div class='input'>
      <div class='name'>
        <div class='label'>Name:</div> <input type='text'>
      </div>
      <div class='email'>
        <div class='label'>Email:</div> <input type='email'>
      </div>
      <div class='password'>
        <div class='label'>Password:</div> <input type='password'>
      </div>
      <div class='new-password'>
        <div class='label'>New Password:</div> <input type='password'>
      </div>
      <div class='repeat-password'>
        <div class='label'>New Password Again:</div> <input type='password'>
      </div>
      <div class='cancel'>
        Cancel
      </div>
      <div class='save'>
        Save
      </div>
    </div>
  </div>

  <div class="game-frame">
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <div class="options">
      {% block options %}
      {% endblock %}
    </div>
  </div>

{% block extra %}
{% endblock %}

</body>
</html>